*{
    margin:0;
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-size:100%;
}

#container{
    display:grid;
    grid-template: repeat(2, 0.4fr) repeat(2, 1fr) / repeat(1, 0.5fr) repeat(5, 1fr);
    /* grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(6, 1fr); */
    /* grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(auto-fit, 1fr); */
    height:100vh;
    width:100vw;
    overflow: auto;
    resize:auto;

    /* grid-template-columns: 5% 50% 25% 10%;
    grid-template-rows: 25% 25% 25% 25%; */
}


.sidemenu{
    
    display:grid;
    grid-area: 1 / 1 / 7 / 4;
    justify-content:space-evenly;
    padding: 10px;
    background-color: rgb(41, 69, 83);

    
    
}
.dash{
    display:flex;
    /* grid-template: repeat(1, 1fr) / repeat(2, 1fr);
    grid-area: 1 / 1 / 1 / 1;
     */
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height:70px;


}

#Capa_1{
    padding: 10px;
    padding-bottom:100px;
    height:50px
    
}

.sidemenu>button{
    /* padding:10px */
}

.main{
    display: grid;
    grid-area: 2 /2 / 7 / 7;
    background-color: rgb(79, 119, 134);
    /* border:1px solid green; */
}

.head{
   display:grid;
   grid-area: 1 / 2 / 1 / 7;
   background-color: rgb(175, 192, 198);
   /* grid-template: repeat(2, 1fr) / repeat(1, 100%); */
   background-color: rgb(51, 86, 104);
}

.upper{
    /* display:flex; */
    display: grid;
    /* grid-area: 1 / 1 / 1 / 1; */
    /* grid-template: repeat(1, 1fr) / repeat(2, 1fr); */
    /* justify-content: space-around; */
    /* flex-direction: row; */
    align-items: center;
    background-color: rgb(51, 86, 104);
    padding-left:50px;
    padding-right:50px; 

}


#busca{
   
    display:grid;
    grid-area: 1 / 1 / 1 / 1;

}
#search{
    display: flex;
    width: 60vw;
    background-color: rgb(126, 149, 151);
    justify-content: space-between;
    border-color:#1f4f1f;
    border-radius:5px;
}

#Layer_1{
    display:grid;
    width:auto;
    height: 40px;
    background-color: rgb(51, 86, 104);
    
}

#Layer_1:hover{

}
#submit{
    display:grid;
    grid-area: 1 / 2 / 1 / 2;
    width: 50px;
    border-radius:5px;
    margin-left:50px;
    margin-right:50px;
    background-color: rgb(126, 149, 151);
    border-color:#1f4f1f;

}

.bell{
    display:grid;
    grid-area: 1 / 2 / 1 / 2;
    justify-content: right;
    align-items: center;
    background-color: rgb(51, 86, 104);
    border-radius: 100px;
    border: 0px
    
}


.downer{
    /* display:flex;
    justify-content: space-between;
    flex-direction: row; */
    display: grid;
    /* grid-area: 2 / 1 / 2 / 1; */
    /* grid-template: repeat(1, 1fr) / repeat(2, 1fr); */
    align-items: center;
    padding-left:50px;
    padding-right:50px;
}


.greet{
    display: grid;
    grid-area: 1 / 1 / 1 / 1;
    justify-content: left;
    /* border: 1px solid red; */
}

.butCont{
    display: grid;
    grid-area: 1 / 2 / 1 / 2;
    justify-content: right;
    

}


.butCont>button{
    margin:5px;
    padding:5px;
}
.sidemenu{
    display:grid;
    align-items: center;
    /* height: 100%; */
    grid-area: 1 / 1 / 7 / 1;
    
}
 
.butCont{
    /* width: 20%;
    height: 50px; */
    display:flex;
    align-items: center;
    /* justify-content: space-around; */


}

button{
    border-radius: 3px;
    border-color: #5e855e;
    background-color: rgb(126, 149, 151);
    justify-content: space-between;
    height: 40px;    
    font-size:100%;
    font-family: 'Courier New', Courier, monospace;

}

.projects{
    display: grid;
    grid-area: 1/1/5/5;
    /* grid-template: repeat(4, 1fr) / repeat(1, 1fr); */
    /* justify-content: space-between; */
    
    /* align-items: center; */
    /* border:1px solid red; */
   
}
.trending{
    display: grid;
    grid-area: 1/1/5/5;
    grid-template: repeat(1, 1fr) / repeat(1, 1fr);
    /* border:1px solid red; */
    justify-content: space-around;
    padding-top:12px;
}
.announce{
    display: grid;
    grid-area: 1/1/3/5;
    grid-template: repeat(1, 1fr) / repeat(1, 1fr);
    /* border:1px solid red; */
    padding-top:12px;
}

.windows{
    display: grid;
    grid-area: 1/1/5/5;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    justify-content: space-around;
    margin-top:25px;
    /* align-items: center; */
    /* border:1px solid red; */
    
}

.window{
    border:1px solid #1f4f1f;
    display: grid;
    margin:10px;
    background-color: rgb(126, 149, 151);
    border-radius: 10px;
}

.header{
    display:grid;
    height:1px;
    grid-area: 1 / 1 / 5 / 5;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    margin-left:10px;
    
    
}

.right{
    display:grid;
    grid-template: repeat(4, 1fr) / repeat(1, 1fr);
    grid-area:1 / 5 / 5 / 5;
}

.right2{
    display:grid;
    grid-template: repeat(4, 1fr) / repeat(1, 1fr);
    grid-area:3 / 5 / 5 / 5;
}


.sideHeader{
    width:20px;
    
}


.proj{
    padding-bottom:3px;
    
}